label{
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

label span{
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); /** creates the ease effect for bouncy animation **/
}
label.do-now span {
  border: 2px solid #e74c3c;
}
label.do-soon span {
  border: 2px solid #f1c40f;
}
label.do-whenever span {
  border: 2px solid #3498db;
}

label span::before{
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px; /** so that the tick has nice rounded look **/
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
label.do-now span::before{
  background: #e74c3c;
}
label.do-soon span::before{
  background: #f1c40f;
}
label.do-whenever span::before{
  background: #3498db;
}

label span::after{
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px; /** so that the tick has nice rounded look **/
    background: #e74c3c;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
label.do-now span::after{
  background: #e74c3c;
}
label.do-soon span::after{
  background: #f1c40f;
}
label.do-whenever span::after{
  background: #3498db;
}

label:hover span::before{
    width: 5px;
    transition: width 100ms ease;
}

label:hover span::after{
    width: 10px;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked + label span {
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label.do-now span {
  background-color: #e74c3c;
}
input[type="checkbox"]:checked + label.do-soon span {
  background-color: #f1c40f;
}
input[type="checkbox"]:checked + label.do-whenever span {
  background-color: #3498db;
}

input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span {
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label.do-now:hover span {
  background-color: #e74c3c;
}
input[type="checkbox"]:checked + label.do-soon:hover span {
  background-color: #f1c40f;
}
input[type="checkbox"]:checked + label.do-whenever:hover span {
  background-color: #3498db;
}

input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

.completed{
  position: relative;
}

.completed:before{
  border-top: 2px solid #2ecc71;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 55%; 
  left: -15%; 
  right: 0; 
  bottom: 0;
  width: 50%;
}

.hoverReveal:hover .close{
  display: initial;
}

.close {
  cursor: pointer !important;
  position: absolute;
  /*right: 0px;
  top: 25px;*/
  width: 32px;
  height: 32px;
  opacity: 0.3;
  display: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  content: "";
  position: absolute;
  left: 15px;
  height: 15px;
  width: 2px;
  background-color: #2c3e50;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

