* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
}

html, body { height: 100%; font-size: 16px;}

body, input, textarea { font-family: "Helvetica Neue", Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif }
input, textarea { font-size: 1rem; }

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

p { font-size:1em; line-height:1.2; margin: 5px auto; }

a, a:visited, a:hover, a:active { color: inherit; cursor: none; }

ul, ol { list-style-type: none; }
li { padding: 1rem; }

input,
input:focus,
select:focus,
textarea:focus,
button:focus { outline: none; }

input[type="checkbox"] { display: none; }

.m-t-13 { margin-top: 13rem; }

.pos-relative { position: relative; }
.pos-absolute { position: absolute; }

.color-midnite-blu{ color:#2c3e50; }
.color-wet-asphalt{ color:#34495e; }
.color-asbestos{ color:#7f8c8d; }
.color-concrete{ color:#95a5a6; }
.color-red{ color:#e74c3c; }
.color-yellow{ color:#f1c40f; }
.color-blue{ color:#3498db; }
.color-green{ color:#2ecc71; }

#main_wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_container{
    width: auto;

    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 3em 3em 3em ;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
}

.centre_content{
    padding: 5px;
    /*line-height: 20px;*/
    text-align: center;
}

#form{
    padding: 0.5rem;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
}

#inputNewDo{
    border-right: 1px solid #ecf0f1;
    height: 2.5rem;
}

#todo-list{
    max-height: 21rem;
    overflow-y: auto;
}

#todo-list input[type=text]{
    display: none;
}

#todo-list li.editMode input[type=text]{
    display: inline-block;
    border-bottom: 1px dashed #bdc3c7;
}

#todo-list li.editMode label.taskLabel{
    display: none;
}

.taskLabel{
    margin-left: 0px;
}

.addBtn{
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

.addBtn:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.addBtn:active{
    box-shadow: inset 1px 1px 1px #DFDFDF; 
}

.morning{
    background-color: #ffffff;
    background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
    
    opacity: 0;
    transition: opacity 1500ms;
}
.afternoon{
    background-color: #ffffff;
    background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
    
    opacity: 0;
    transition: opacity 1500ms;
}
.evening{
    background-color: #ffffff;
    background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
    
    opacity: 0;
    transition: opacity 1500ms;
}

@media screen and (max-width: 480px) {

    .content_container {
        padding: 0.5em 3em 1.5em 2em ;
        width: 75%;
    }

    html, body {
        min-width: 320px;
        font-size: 11px;
    }

    #todo-list{
        max-height: 13rem;
    }
}