* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {height: 100%; }

body, input, textarea { font-family: 'Lato', Verdana, 'Gill Sans', 'Gill Sans MT', 'Calibri', Tahoma, sans-serif }
input, textarea { font-size: 1rem; }

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

p { font-size:1em; line-height:1.2; margin: 5px auto; }

a, a:visited, a:hover, a:active { color: inherit; cursor: none !important; }

ul, ol { list-style-type: none; }
li { padding: 1rem;}

.m-t-13 {margin-top: 13rem;}

#main_wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_container{
    width: auto;

    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 3em 3em 3em ;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
}

.centre_content{
    padding: 5px;
    /*line-height: 20px;*/
    text-align: center;
}

.morning{
    background-color: #ffffff;
    background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/morning.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
}
.afternoon{
    background-color: #ffffff;
    background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(255, 255, 224, 0.5) 5%, rgba(135, 206, 250, 0.35)), url("../img/afternoon.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
}
.evening{
    background-color: #ffffff;
    background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(216, 191, 216, 0.35) 5%, rgba(176, 196, 222, 0.35)), url("../img/evening.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
}